# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List commonly used libraries by Data Scientists
* List commonly used Data Science Tools

Some of the popular languages that Data Scientists use are: 
1. Julia
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Seaborn
2. NumPy
3. Pandas
4. Matplotlib
5. SciPy

| Data Science Tools |
|----------------- |
| Git | 
| GitHub |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [2]:
h=200/60
print (h)

3.3333333333333335

##